/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*main structure*/

.container {
    width: 80%;
    max-width: 1500px;
    margin: 3em auto;
}

.row {
    width: 100%;
    margin-bottom: 2em;
}    

/*article*/

.article {
    display: inline-block;
    position: relative;
    width: calc((100%/3) - 10px);
    margin: 0 2px;
    vertical-align: top;
}

.article img{
    width: 100%;
   
}
/*heart*/

.heart-container{
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0%;
    top: 3%;
    background-color: white;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    
}

.heart{
    font-size: 1.5em;
    display: block;
    margin: auto 0;
    padding-top: 0.2em;

}

/*tags*/

.first-tag{
    font-size: 0.6em;
    position: absolute;
    padding: 0.3em 0.5em;
    bottom: 12%;
    left: 0%;
    color: white;
    background-color: #EB0037;

}

.second-tag{
    font-size: 0.6em;
    position: absolute;
    padding: 0.3em 0.5em;
    bottom: 12%;
    left: 10% ;
    color: white;
    background-color: #00875A;

}


#special-tag{
    left: 0;
}

/*brand*/

.brand{
    font-size: 0.6em;
    color: grey;
    margin-bottom: 0.1em;
    
}

/*model*/
.model{
     font-size: 0.9em;
     
}

/*prices*/
.original-price{
    font-size: 0.6em;
    color: grey;
    text-decoration: line-through;
}

.new-price{
    font-size: 0.6em;
    color: red;
    
}

/*over effect*/
.second-image{
    display: none;
}

.article:hover .first-image{
    display: none;
}

.article:hover .second-image{
    display: inline-block;
}